#home-tab, #profile-tab {
    color: gray;

}

#home-tab.active, #profile-tab.active {
    color: rgb(5, 5, 176);
}

#gallery img {
    transition: transform 0.5s; 
}

#gallery img:hover {
    transform: scale(1.02); 
    cursor: pointer;
  }

